[github]
	user = d48
[user]
	name = Ryan Regalado
	email = ryan@design48.net
[color]
	ui = true
[alias]
	b = branch
	s = status
	c = commit
	ca = commit -a -m
	curtag = !sh -c 'git fetch --tags && git co `git tag -l *12[a-z] | tail -n1` && git su' -
	co = checkout
	cp = cherry-pick
	dc = diff --cached 
	dh = diff HEAD
	dm = diff master 
	l = log
	lol = log --pretty=oneline --abbrev-commit --decorate
	lolg = !"git log --format='%Cgreen%h %Creset%C(cyan)%an%Creset%C(magenta)%d%Creset - %s' --graph"
	myinit = !sh -c 'git init && touch .gitignore && git add . && git c -m \"initial commit\" && cp ~/.git/post-commit .git/hooks/' -
	p = pull --prune
	repo = !sh -c '~/scripts/git-open.sh'
	myreset = clean -f -d
	unstage = reset HEAD			# remove files from index (tracking)
	uncommit = reset --soft HEAD^		# go back before last commit, with files in uncommitted state
	si = submodule init
	su = submodule update --recursive
	sui = submodule update --init --recursive
	st = stash
	stl = stash list
	sts = stash save 

	# deletes all local branches that have already been merged with master
	close = !sh -c 'git branch --merged master | grep -v 'master$' | xargs git branch -d' -

	# git current :: returns current branchname 
	current = !git branch 2> /dev/null | grep '\\*' | sed -e 's/\\* \\(.*\\)/\\1/'

	# git pull on current branch you're on
	pd = !"git pull origin `git current`"
	wat = whatchanged -p --abbrev-commit --pretty=medium
[core]
	editor = vim

[push]
	default = current

