[github]
	user = design48
[user]
	name = Ryan Regalado
	email = ryan@design48.net
[color]
	ui = true
[alias]
	b = branch
	s = status
	c = commit
	ca = commit -a -m
	curtag = !sh -c 'git fetch --tags && git co `git tag -l *12[a-z] | tail -n1` && git su' -
	co = checkout
	l = log
	lol = log --pretty=oneline --abbrev-commit --decorate
	lolg = !sh -c 'git lol --graph' 
	p = pull --prune
	si = submodule init
	su = submodule update --recursive
	sui = submodule update --init --recursive
	st = stash
	stl = stash list
	sts = stash save 

	# deletes all local branches that have already been merged with master
	close = !sh -c 'git branch --merged master | grep -v 'master$' | xargs git branch -d' -

	# git current :: returns current branchname 
	current = !git branch 2> /dev/null | grep '\\*' | sed -e 's/\\* \\(.*\\)/\\1/'

	# git pull on current branch you're on
	pd = !"git pull origin `git current`"
[core]
	editor = vim

[push]
	default = current
